/.lake
/blueprint/print
/blueprint/web
/blueprint/lean_decls
/blueprint/src/**/*.aux
/blueprint/src/**/*.log
/blueprint/src/*.out
/blueprint/src/*.toc
/blueprint/src/*.fls
/blueprint/src/*.fdb_latexmk
/blueprint/src/*.synctex.gz
/blueprint/src/*.paux
/blueprint/src/*.bbl
/blueprint/src/*.blg
/blueprint/src/print.pdf
/blueprint/src/*.synctex
__pycache__/
.DS_Store
.cache/*
